#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.calculator_display {
    color: black; /* Because white on white isn't that readable*/
    background-color: white;
    max-width: 75vw; /* 75% of device's width, could be higher for mobile but let's leave that alone*/
    /* I added "mx-auto" class, it's bootstrap shortcut for margin right and margin left set to auto, 
    which results in centered element. mx is for margin on x axis. guess what "my-auto" does ... :) */

}

.buttons {
    display: grid;
    border-bottom: 1px;
    border-left: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.equals {
    background-color: green;
}

.button {
    color: white;
}


#equals {
    background-color: rgb(rgb(0, 255, 85), green, blue);
}